
* {
    margin-top: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}

/* HEADER */

.header{
    background: #fdfdfd;
    text-align: inline-block;
    height: 30px;
    width: 100%;
    justify-content: space-between;
      
}

.header__inicio-env{
    display: flex;
    text-align: justify;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    color:  #a30dfa;
    font-weight: 900;
    letter-spacing: 2.5px;
    justify-content: center;
    padding: 2px;    
    margin: auto;
}

.header__inicio-env  p:hover{
    display: flex;
    color: #360353;
    cursor: pointer;
}


/* NAV * LOGO * BUSCADOR * IMPUT  */

/* Estilos base, no modificados */
.logo {
    display: flex;
    width: 130px;
    height: auto;
    text-align: center;
    justify-content: center;
    padding: 5px;
  }
  
  .logo .a {
    display: flex;
    width: auto;
    height: auto;
    position: relative;
    margin: auto;
    justify-content: center;
  }
  
  .logo .a .logo1 {
    display: flex;
    width: 45%;
  }
  
  .nav {
    display: flex;
    width: 100%;
    height: 65px;
    background: #fdfdfd;
    list-style: none;
    position: relative;
    z-index: 10;
    justify-content: space-between; /* Asegura que el contenido esté bien distribuido */
  }
  
  .buscador {
    display: flex;
    justify-content: end;
    text-align: center; 
    width: 10%;
    height: auto; 
  }
  
  .buscador input {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    align-content: center;
    align-items: center;
    width: 140px;
    height: 26px;
    background: #ffffff;
    border: 1px solid #1a1a1a;
    margin: auto;
    margin-right: 25px;
  }
  
  /* MENÚ Y SUBMENÚ */
  
  /* Contenedor del menú */
/* Estilo para el menú principal */
.menu {
    display: flex;
    list-style: none;
    padding: 1px;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
  }
  
  /* Estilo para los elementos del menú */
  .menu-ul {
    position: relative;
    color: #000000;
    list-style-type: none;
    justify-content: center;
    margin: 10px;
  }

  .menu-li {
    text-decoration: none;
    color: #000000;
    padding: 5px;
  }

  .menu-li .menu-li-a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #000000;
    list-style-type: none;
    font-size: 18px;
  }

  .menu-li .menu-li-a:hover {
    text-decoration: underline;
    color: #ffffff;
    background: #a30dfa;
    transition: all 420ms ease;
  }
  
  /* Estilo para el submenú */
  
  .submenu1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 73%;
    transform: translateX(-28%);
    width: auto;
    background-color: #ffffff;
    justify-content: center;
    padding: 10px 0;
    flex-wrap: nowrap;
    color: #000000;
    border-radius: 15px;
    list-style-type: none;
  }

  .submenu2 {
    display: none;
    position: absolute;
    top: 100%;
    left: 95%;
    transform: translateX(-50%);
    width: auto;
    background-color: #ffffff77;
    justify-content: center;
    padding: 10px 0;
    flex-wrap: nowrap;
    color: #000000;
    border-radius: 15px;
    list-style-type: none;
  }

  .submenu3 {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-51%);
    width: auto;
    background-color: #ffffff77;
    justify-content: center;
    padding: 10px 0;
    flex-wrap: nowrap;
    color: #000000;
    border-radius: 15px;
    list-style-type: none;
  }

  .submenu4 {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    background-color: #ffffff77;
    justify-content: center;
    padding: 10px 0;
    flex-wrap: nowrap;
    color: #000000;
    border-radius: 15px;
    list-style-type: none;
  }

  
  /* Estilo para los elementos del submenú */
  .submenu-item {
    text-align: center;
    margin: 0 20px;
    margin-top: 20px;
  }

  .submenu-item:hover{
    background: #fff9a6;
  }

  .submenu-item img{
    width: 50px;
  }

  .submenu-item img:hover{
    transition: all 430ms ease;
    transform: scale(1.2);
    cursor: pointer;

  }

  .submenu-item a{
    font-family: 'Oswald', sans-serif;
    color: #000;
    text-decoration: none;

  }

  .submenu-item a:hover{
    background:  #a30dfa;
    color: #FFFFFF;
    transition: all 430ms ease;
  }

 
  
  /* Mostrar el submenú al hacer hover */
  .menu .menu-ul:hover .submenu1 {
    display: flex;
    background: #ffffff;
    color: #360353;
    transition: all 890ms ease;
  }

  .menu .menu-ul:hover .submenu2 {
    display: flex;
    background: #ffffff;
    color: #360353;
    transition: all 890ms ease;
  }

  .menu .menu-ul:hover .submenu3 {
    display: flex;
    background: #ffffff;
    color: #360353;
    transition: all 890ms ease;
  }

  .menu .menu-ul:hover .submenu4 {
    display: flex;
    background: #ffffff;
    color: #360353;
    transition: all 890ms ease;
  }
  
  /* Estilo para las imágenes de los iconos */
  .submenu-item img {
    display: block;
    margin: 0 auto 10px;
  }


/* SECTION */

section {
    display: flex;
    width: auto;
    height: 60px;
    margin: auto;
    justify-content: flex-start;
    position: absolute;
    
}

.conteiner-volver {
    display: contents;
    padding: 5px;
    width: 100%;
    margin: auto;
    position: absolute;
}

.volver{
    display: inline;
    margin: 15px;
}

.volver img{
  width: 14px;
}

.volver-a{
  text-decoration: none;
}

.volver-titulo{
    display: inline;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-left: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.volver-titulo:hover{
  transition: all 500ms ease;
  background: #000000a4;
  cursor: pointer;
  color: #f9f9f9;
}

 /* PRODUCTO   */

.product-page{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #ededed;
}

.product-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
  gap: 3px; /* Espacio entre imágenes */
  width: 70%;
}

.product-gallery img, 
.product-gallery video {
    width: 100%;
    height: 100%; /* Para mantener la proporción */
    object-fit: cover; /* Las imágenes llenarán su espacio sin deformarse */
    
}

.product-description p {
  margin-top: 20px;
  line-height: 1.5;
}

.colors img, 
.sizes button {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}


/* Sección de detalles del producto */
.product-details-section {
  width: 40%;
  padding-left: 20px;
}

.product-title {
  font-size: 28px;
  font-weight: bold;

}

.product-price {
  font-size: 24px;
  color: #e60000;
  margin: 10px 0;
}

.product-size h3, .product-quantity label {
  font-size: 18px;
  margin-bottom: 10px;
}

.size-options {
  display: flex;
  gap: 5px;
}

.size-btn {
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  cursor: pointer;
}

.size-btn:hover {
  background-color: #000;
  color: #fff;
}

.btn-buy-now:hover, .btn-add-to-cart:hover {
  background-color: #e60000;
}

.btn-buy-now:hover, .btn-add-to-cart:hover {
  background-color: #e60000;
}

@media (max-width: 768px) {
  .product-page {
      grid-template-columns: 1fr; /* Una columna para dispositivos móviles */
  }
  
  .product-gallery {
      grid-template-columns: 1fr; /* Las imágenes ocuparán toda la pantalla en una fila */
  }
}

.thumbnail-gallery img:hover {
  border: 2px solid #000; /* Cambia el color al pasar el mouse */
}

/* Efecto de zoom cuando el mouse está sobre la imagen principal */
.main-image:hover {
  transform: scale(1.1); /* Aumenta el tamaño un 10% al hacer hover */
}

/* Adaptabilidad para pantallas pequeñas */
@media (max-width: 768px) {
  .main-image-wrapper {
      width: 100%; /* En pantallas pequeñas la imagen ocupará el 100% del ancho */
  }

  .thumbnail-gallery img {
      width: 80px;
      height: 80px;
  }
}

.product-image-gallery {
  display: flex;
  flex-direction: column;
}

.product-image-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* Hace que la imagen rellene el cuadro sin deformarse */
  border-radius: 8px; /* Esto le da un borde redondeado */
}

.product-image-gallery,
.product-video-section {
    width: 100%;
    aspect-ratio: 16 / 9;  /* Mantiene una proporción 16:9 (la más usada en pantallas) */
    overflow: hidden;
}

.product-video-section iframe,
.product-image-gallery img,
.product-video-section video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video o imagen rellene completamente el cuadro */
}



/* ------DETALLES PRODUCTO----- */

.product-details-section {
    flex: 1;
    max-width: 50%;
    position: sticky;
    top: 20px; /* Se mantiene a 20px del top cuando haces scroll */
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;

}

.product-title {
    font-size: 35px;
    color: #000000;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.product-details{
  font-size: 15px;
  font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 30px;
    color: #000000;
    padding: 3px;
    
}
.product-price {
  font-size: 20px;
  color: #000000;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
  margin-top: 25px;
  color: #fff;
  padding: 3px;
  letter-spacing: 1px;
  -webkit-text-stroke: 2px #000;
}

.product-colors{
  font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 28px;
}

.product-colors h3{
  font-size: 13px;
  font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.product-size{
  margin-top: 65px;
}

.product-size h3 {
    font-size: 13px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.size-options button {
    width: 60px;  
    height: 40px;
    background-color: #ebebeb;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.size-options button:hover {
    background-color: #360353;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#sizeChartLink {
    display: inline-block;
    margin-top: 50px;
    color: #161616;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

#sizeChartLink:hover {
  background: #360353;
  color: #ffffff;
}

.product-quantity input {
    width: 50px;
    padding: 5px;
    text-align: center;
    margin-top: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.product-quantity label{
  font-size: 15px;
  font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.btn-buy-now {
    padding: 12px 24px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.btn-buy-now:hover {
    background-color: #218838;
}

.size-chart {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: none;
}

.size-chart table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.size-chart th, .size-chart td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.size-chart th {
    background-color: #007bff;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.size-chart.hidden {
    display: none;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}

.modal.hidden {
    display: none;
}

.modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* La cruz de cierre está posicionada en la esquina superior derecha */
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
}

.modal-content h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.modal-content table {
    width: 100%;
    border-collapse: collapse;
}

.modal-content th, .modal-content td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.modal-content th {
    background-color: #007bff;
    color: white;
}

.related-products-container {
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
}

.related-products-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #333;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.related-products-gallery {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
}

.related-product-card {
    min-width: 220px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.related-product-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.related-product-info h5 {
    font-size: 1.2rem;
    color: #333;
}

.related-product-info p {
    font-size: 1rem;
    color: #007bff;
}

.related-product-card:hover {
    transform: scale(1.05);
}


.related-products-navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.related-products-navigation img {
    width: 30px;
    cursor: pointer;
}