


* {
    margin-top: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}


/* HEADER */

.header{
    background: #000000;
    text-align: inline-block;
    height: 30px;
    width: 100%;      
}

.header__inicio-env{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2px;    
    margin: auto;
}

.header__inicio-env p{
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1.0px;
    color:  #a30dfa;
}

.header__inicio-env  p:hover{
    display: flex;
    color: #ffffff;
    cursor: pointer;
}

/* NAV * LOGO * BUSCADOR * IMPUT  */

.logo {
    display: flex;
    width: 130px;
    height: auto;
    text-align: center;
    justify-content: center;
    padding: 5px;
  }
  
  .logo .a {
    display: flex;
    width: auto;
    height: auto;
    position: relative;
    margin: auto;
    justify-content: center;
  }
  
  .logo .a .logo1 {
    display: flex;
    width: 40%;
  }
  
  .nav {
    display: flex;
    width: 100%;
    height: 65px;
    background: #fdfdfd;
    list-style: none;
    position: relative;
    z-index: 10;
    justify-content: space-between; /* Asegura que el contenido esté bien distribuido */
  }
  
  .buscador {
    display: flex;
    justify-content: end;
    text-align: center; 
    width: 10%;
    height: auto; 
  }
  
  .buscador input {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    align-content: center;
    align-items: center;
    width: 140px;
    height: 26px;
    background: #ffffff;
    border: 1px solid #1a1a1a;
    margin: auto;
    margin-right: 25px;
  }
  
  /* MENÚ Y SUBMENÚ */
  
  /* Contenedor del menú */
/* Estilo para el menú principal */
.menu {
    display: flex;
    list-style: none;
    padding: 1px;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
  }
  
  /* Estilo para los elementos del menú */
  .menu-ul {
    position: relative;
    color: #000000;
    list-style-type: none;
    justify-content: center;
    margin: 10px;
  }

  .menu-li {
    text-decoration: none;
    color: #000000;
    padding: 5px;
  }

  .menu-li .menu-li-a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.5px;
    color: #000000;
    list-style-type: none;
    font-size: 15px;
  }

  .menu-li .menu-li-a:hover {
    text-decoration: underline;
    color: #ffffff;
    background: #a30dfa;
    transition: all 420ms ease;
  }
  
  /* Estilo para el submenú */
  
  .submenu1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 73%;
    transform: translateX(-28%);
    width: auto;
    background-color: #ffffff;
    justify-content: center;
    padding: 10px 0;
    flex-wrap: nowrap;
    color: #000000;
    border-radius: 15px;
    list-style-type: none;
  }

  .submenu2 {
    display: none;
    position: absolute;
    top: 100%;
    left: 95%;
    transform: translateX(-50%);
    width: auto;
    background-color: #ffffff77;
    justify-content: center;
    padding: 10px 0;
    flex-wrap: nowrap;
    color: #000000;
    border-radius: 15px;
    list-style-type: none;
  }

  .submenu3 {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-51%);
    width: auto;
    background-color: #ffffff77;
    justify-content: center;
    padding: 10px 0;
    flex-wrap: nowrap;
    color: #000000;
    border-radius: 15px;
    list-style-type: none;
  }

  .submenu4 {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    background-color: #ffffff77;
    justify-content: center;
    padding: 10px 0;
    flex-wrap: nowrap;
    color: #000000;
    border-radius: 15px;
    list-style-type: none;
  }

  
  /* Estilo para los elementos del submenú */
  .submenu-item {
    text-align: center;
    margin: 0 20px;
    margin-top: 20px;
  }

  .submenu-item:hover{
    background: #fff9a6;
  }

  .submenu-item img{
    width: 50px;
  }

  .submenu-item img:hover{
    transition: all 430ms ease;
    transform: scale(1.2);
    cursor: pointer;

  }

  .submenu-item a{
    font-family: 'Oswald', sans-serif;
    color: #000;
    text-decoration: none;

  }

  .submenu-item a:hover{
    background:  #a30dfa;
    color: #FFFFFF;
    transition: all 430ms ease;
  }

 
  
  /* Mostrar el submenú al hacer hover */
  .menu .menu-ul:hover .submenu1 {
    display: flex;
    background: #ffffff;
    color: #360353;
    transition: all 890ms ease;
  }

  .menu .menu-ul:hover .submenu2 {
    display: flex;
    background: #ffffff;
    color: #360353;
    transition: all 890ms ease;
  }

  .menu .menu-ul:hover .submenu3 {
    display: flex;
    background: #ffffff;
    color: #360353;
    transition: all 890ms ease;
  }

  .menu .menu-ul:hover .submenu4 {
    display: flex;
    background: #ffffff;
    color: #360353;
    transition: all 890ms ease;
  }
  
  /* Estilo para las imágenes de los iconos */
  .submenu-item img {
    display: block;
    margin: 0 auto 10px;
  }



/*  BANNER PORTADA */

.banner {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

.banner-track {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.banner-slide {
    min-width: 100%;
    height: 100%;
}

.banner-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Ajusta las imágenes para que cubran el área del banner */
}

/* Contenido del banner */
.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
}

.banner p {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}

.banner-button {
    padding: 15px 30px;
    background-color: #a30dfa;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-family: 'Oswald', sans-serif;

}

.banner-button:hover {
    background-color: #d3e005;
    color: #333;
}

/* Responsividad para móviles */
@media (max-width: 768px) {
    .banner {
        height: 300px; /* Ajusta la altura en pantallas más pequeñas */
    }

    .banner h1 {
        font-size: 32px;
    }

    .banner p {
        font-size: 18px;
    }

    .banner-button {
        font-size: 16px;
    }
}


/* TITULO - MAKE A DIFFERENCE */

.article__conteiner {
    display: flex;
    position: relative;
    width: 100%;
}

.article__p {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 100px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #f3ff05;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    -webkit-text-stroke: 2px #000;
    
}

/* SERVICIOS */

.conteiner-servicios{
    display: none;
    width: 97%;
    margin: auto;
    margin-top: 45px;
	text-align: center;
    justify-content: space-between; 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-content: center;
    
}

.conteiner-row{
    display: flex;
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    

}

.card-imagenes{
    height: 205px;
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    border: 0.5px solid #bbbbbb;
    border-radius: 45px;
    box-shadow: 1px 1px 20px 1px #674275;
    
}

.card-imagenes img{
    width: 85px;
    height: 85px;
    padding: 5px;
    margin-bottom: -35px;
}


.card-imagenes:hover{
    background: #f3ff05;
    transform: scale(1.1);
   transition: all 680ms ease;
   cursor: pointer;
}

.card-imagenes p:hover{
    font-weight: 600;
}


.card-imagenes h2{
    display: block;
    width: 180px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    font-family: "AdihausDIN",Helvetica,Arial,sans-serif;
}

.card-imagenes p{
    margin-top: -40px;
    width: 210px;
    height: 50px;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    font-family: "AdihausDIN",Helvetica,Arial,sans-serif;
    color: #000000;
}


/* FILTRO DE ROPA */

.container {
    width: 100%;
    display: flex;
    position: relative;
    margin: auto;
    background: #ffffff;
    padding: 10px;
    margin-top: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 0px 25px 1px #f1f1f1;
  }

  .filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-right: groove;
    width: 40%;
  }


  .filter-section {
    display: flex;
    border: 1px #000;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    margin-bottom: -5px;
  }

  #clear-filters{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    margin-right: 1px;
    margin-bottom: 25px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    background: #FFFFFF;
    position: relative;
    letter-spacing: 0.5px;
  }

  #clear-filters:hover{
    transition: all 400ms ease;
    text-decoration: underline;
    cursor: pointer;
    background: #000000;
    color: #FFFFFF;
  }



 

/* Si deseas que el label mantenga una alineación más consistente, puedes ajustar el width */
  .filter-section label{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1;
    white-space: nowrap; /* Para evitar que se dividan en dos líneas */
  }
  
 
  /* Ocultar por defecto */
.filter-options {
    display: none;
    align-items: center;
    gap: 10px;
    width: 100%;

  }

  /* Alineación de los checkboxes y labels dentro de .filter-option */
.filter-option {
    display: flex;
    align-items: center; /* Alinear verticalmente checkbox y label */
    gap: 10px; /* Espacio entre el checkbox y el label */
    width: 100%; /* Asegurar que ocupen todo el ancho disponible */
  }

  /* Si deseas que el label mantenga una alineación más consistente, puedes ajustar el width */
.filter-option label {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1;
    white-space: nowrap; /* Para evitar que se dividan en dos líneas */

  }

  /* Mostrar las opciones cuando la clase 'active' esté aplicada */
.filter-options.active {
    display: block;
  }
  
  input[type="checkbox"] {
    margin: 0;
    transform: scale(1);
  }
    


  .filter-titulo{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 600;
  }



  .filter-titulo-section {
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    padding: 4px;
    width: 130px;
    background: #ffffff;
    
  }

  .filter-titulo-section:hover{
    background: #000000;
    color: #ffffff;
  }
  
  .products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
  }
  
  .product {
    border: 1px solid #ccc;
    text-align: center;
    width: 285px;
    height: 495px;
  }

  .product img {
    width: 90%;
    height: auto;
  }

  .product-inf{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    padding: 3px;
  }

  .product-nombre{
    font-size: 16px;
    color: #000000;
    font-family: 'Oswald', sans-serif;
  }

  .product-precio{
    font-size: 15px;
    color: #000000;
    font-family: 'Oswald', sans-serif;
  }
  


  /* Opciones ocultas por defecto */
.toggle-content {
    display: none;
  }

    /* Cuando se muestra el contenido */
.toggle-content.active {
    display: block;
    margin-top: -15px;
    margin-bottom: 15px;
    width: 15%;
        
 }
    
  


  /* Agregar flecha a los títulos de las secciones */
.toggle-header {
    position: relative;
    cursor: pointer;
    padding-right: 20px; /* espacio para la flecha */
  }

 
  
 /* Flecha por defecto */
.toggle-header::after {
    content: "▶";
    margin-left: 10px;
    transition: transform 0.3s;
    position: absolute;
    right: 0; /* colocarla al final */
    font-size: 11px;
    transform: rotate(0deg);
    transition: transform 0.3s ease; /* animación suave al rotar */
    margin-right: 5px;
    margin-top: 6px;
  }

  
  

/* Rotación de la flecha cuando esté desplegado */
.toggle-header.expanded::after {
    content: "▼";
    margin-left: 10px;
    transform: rotate(-180deg); /* rotar la flecha hacia arriba */
  }


  


/* TITULO DE (DESTACADO) */

.destacado{
    display: flex;
    width: 100%;
    height: 60px;
    position: relative;
    justify-content: center;
    background: #000000;
    margin-top: 15px;

}

.destacado__p{
    text-align: center;
    justify-content: center;
    font-size: 65px;
    font-family: "AdihausDIN",Helvetica,Arial,sans-serif;
    font-weight: 500;
    color: #f3ff05;
    box-shadow: 0 3px 3px 3px rgb(0, 0, 0, 0.5);
    margin: auto;
}

/* CONTENEDOR TARJETAS- */

.conteiner-card{
    position: relative;
    margin: auto;
    width: 97%;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    text-align: center;
    border-bottom: 0.5px solid #f0e6fa;
    margin-bottom: 50px;
    overflow: hidden;
}

.card-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: nowrap;
    transition: transform 0.3s ease-in-out;
}

.card {
   width: 230px;
   height: 450px;
   border-radius: 20px;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
   margin: 5px;
   margin-bottom: 1px;
   text-align: left;
   background: #ffffff;
   transition: all 0.30s ease;
   border-top: 0.3px solid rgba(0, 0, 0, 0.2);
   border-left: 0.3px solid rgba(0, 0, 0, 0.2);
   border-right: 0.3px solid rgba(0, 0, 0, 0.2);
   border-bottom: 0.3px solid rgba(0, 0, 0, 0.2);
   position: relative;
   z-index: 1;
}

.conteiner-card .card:hover{
    transform: translateY(-4px);
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.404);
    cursor: pointer;
}

.conteflechas {
    position: absolute;
    height: 25%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10; 
}

.conteflechas a img{
    width: 45px;
}

.conteflechas img:hover{
    transform: scale(1.20);
}

.conteflechas img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 11;
}


.conteiner-card .card .imgcard {
    display: inline-block;
    width: 100%;
    height: 67%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.imgcard {
    width: 100%;
    height: 100%;
}

.card-texto {
    display: block;
 width: 240px;
 height: 60px;
 padding: 5px;
 z-index: 10;
}

.card-texto h5 {
    height: 20px;
    width: 200;
    display: inline-block;
    font-size: 16px;
    font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    text-align: justify;
    margin-bottom: 8px;   
}

.card-texto p {
    display: inline-block;
    height: 31px;
    width: 200px;
    font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 25px;
    font-weight: 400;
    color: #000000;   
}

.card .card-texto-envio{
    display: block;
    height: auto;
    width: 65px;
    font-size: 15px;
    font-weight: 800;
    margin-top: -18px;
    justify-content: center;
    justify-items: center;
    color: #ffffff;
    padding: 2px;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #129c08;
    border-radius: 5px;
}

.card .card-texto-envio:hover{
    transition: all 380ms ease;
    transform: scale(1.10);
}

.btn-agregar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 32px;
    border-radius: 15px;
    margin: auto;
    background: #131313;
    color: #ffffff;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn-agregar:hover{
    background: #707070;
    cursor: pointer;
    transition: all;
    font-weight: 500;
    color: #000000;
    
}

.btn-agregar-bravas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 32px;
    border-radius: 15px;
    margin: auto;
    background: #131313;
    color: #ffffff;
}

.btn-agregar-bravas:hover{
    background: #e90090;
    cursor: pointer;
    font-weight: 500;
    
}


/* BANNER DESCUENTO */

.conteiner-descuento{
    width: 97%;
    height: 230px;
    display: flex; 
    justify-content: space-between; 
    background: #33042b;
    border-radius: 30px;
    margin:auto;
    box-shadow: 1px 1px 5px 5px rgb(14, 14, 13);
}

.conteiner-descuento-descuento{
    width: 355px;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin: auto; 
    padding: 20px;
      
    
}

.conteiner-descuento-descuento img{
    width: 100%;
    margin: auto;
    display: flex;
    border-radius: 15px;
    box-shadow: 1px 1px 30px 3px rgba(6, 214, 221);
}

.conteiner-descuento-descuento img:hover{
    transform: scale(1.05);
    
    transition: all 400ms ease;
    
}



/* TARJETA DE 3 PARTES */

.contetarjeta {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: auto;
    justify-content: center;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 30px;
    
}

.conteiner-tarjeta-titulo{
    width: 95%;
    height: 100px;
    margin:auto;
}

.contetarjeta__p {
    display: inline-block;
    font-size: 45px;
    font-weight: 300;
    font-family: "Questrial", sans-serif;
  font-weight: 600;
  font-style: normal;
  
    color: #0a0a0a;
    padding: 25px;
    margin-top: 15px;
}

.tarjeta {
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    width: 290px;
    height: 465px;
    margin: 18px;
    border-radius: 5px;
    
}

.tarjeta img {
    width: 100%;
    height: 93%;
    border-radius: 15px;

}

.tarjeta a{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #0a0a0a;
    font-family: "AdihausDIN",Helvetica,Arial,sans-serif;
    font-weight: 300;
    height: auto;
    width: auto;

}

.tarjeta-p a{
    text-align: center;
    height: auto;
    width: auto;
    justify-content: center;
    color: #242424;
    font-size: 19px;
    font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
    

}

.contetarjeta img:hover{
  transform: scale(1.02);
   transition: all 380ms ease;


}

.tarjeta a:hover{
    color: #929292;
    transition: all 300ms ease;
 }


 /* MOTIVATE */

.motivate {
    display: flex;
    width: 90%;
    height: 180px;
    text-align: center;
    align-items: center; 
    margin: auto;
    box-shadow: 1px 1px 20px 2px #9b9b9b;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    background: #000000;
}

.motivate_p {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 70px;
    color: #ffffff;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    
}

.motivate_p1 {
    display: flex;
    width: 100%;
    height: 30px;
    font-family: "Questrial", sans-serif;
    letter-spacing: 1px;
    font-style: normal;
    justify-content: center;
    font-size: 22px;
    color: #ffffff;
    margin: auto;
    font-weight: 600;
    
}
 

/* BANNER LAS BRAVAS */

.conteiner-banner{
    display: flex;
    width: 97%;
    justify-content: center;
    background-image: linear-gradient(#ffffff, #ffff18);
    margin: auto;
    
    
}

.conteiner-banner-video {
    width: 836px;
    height: 192px; 
    display: flex;
    background: #fffb00e0;
    border-radius: 5px;
    box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

.conteiner-banner-video video{
    display: flex;
    height: 100%;
    width: 46%;
    border-top-left-radius: 5px;
    box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.3);    
}

.conteiner-banner2{
    height: 230px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.conteiner-banner2 .banner-bravas-p{
    display: flex;
    height: 100px;
    width: 398px;
    font-size: 39px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #e90090; 
    margin-top: 16px;
  margin-bottom: -15px;   
  
}

.conteiner-banner2 img{
    display: flex;
    height: 90%;
    width: 20%;
    margin-left: 338px;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
}


/* GALERIA FOTOS BRAVAS */

.conteiner-galeria {
    display:flex;
    width: 97%;
    justify-content: center;
    align-items: center;
    background: #ffff18;
    margin: auto;   
    flex-wrap: wrap;
    text-align: center;
    
}

.conteiner-fotos {
    position: relative;
    justify-content: center;
    width: 190px;
    height: 420px;
    border-top: 0.1px solid rgba(0, 0, 0, 0.5);
    border-left: 0.1px solid rgba(0, 0, 0, 0.5);
    border-right: 0.1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.5);
    background: #ffffff;
    margin: 10px;
    margin-top: 65px;
    border-bottom-right-radius: 25px;

}

.conteiner-tarjeta-fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 280px;
    width: 189px;
    border-radius: 10px;

}

.conteiner-tarjeta-fotos img {
    width: 100%;
    height: 100%;
    background: #FFFFFF;

}

.conteiner-tarjeta-info{
    height: 140px;
    width: 189px;
    
 
}

.conteiner-tarjeta-info h5{
    width: 217px ;
    height: 25px;
    color: #000000;
    font-size: 15;
    font-family: 'Kanit', sans-serif;
    padding: 10px;
    

}

.conteiner-tarjeta-info p{
    width: 217px;
    height: 30px;
    color: #000000;
    font-size: 20;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

.conteiner-bravas{
    width: 97%;
    height: 80px;
    margin: auto;
    position: relative;
    background: #ffff18;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.conteiner-bravas-titulo{
    display: flex;
    position: relative;
    color: #000000;
    justify-content: center;
    align-items: center;
    width: auto;

}

.conteiner-bravas-titulo a{
    text-decoration: none;
}

.conteiner-bravas-titulo  p{
    width: auto;
    height: auto;
    padding: 5px 8px;
    background: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
    border-radius: 10px;
    
    
}

.conteiner-bravas-titulo p:hover{
    transition: all 300ms ease;
    cursor: pointer;
    background: #e90090;
}


/*GALERIA FUTBOL */

.conteiner-futbol {
    display: flex;
    width: 97%;
    padding: 25px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.conteiner-futbol h6 {
    font-size: 50px;
    font-family: "AdihausDIN",Helvetica,Arial,sans-serif;
    color: #000000;
    font-weight: 100;
    justify-content: center;
    margin-bottom: -40px;

}

.conteiner-futbol h6:hover {
transform: translateY(-5px);
transition: all 400ms ease;
text-decoration: underline;

}


/* CONTEINER PRODUCTOS 2 */

/* Contenedor general de los productos */
.product-container {
    position: relative;
    overflow: hidden;  /* Esto asegura que las tarjetas fuera del contenedor no se vean */
    margin: 30px;
    
}

.product-navigation {
    position: absolute;
    height: 25%;
    width: 97%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    z-index: 1;
}

.product-navigation img{
    width: 35px;
}

.product-navigation img:hover{
    transform: scale(1.20);
}

.product-wrapper {
    display: flex;
    gap: 15px;
    transition: transform 0.5s ease; /* Para que el deslizamiento sea suave */
    will-change: transform;  /* Mejora el rendimiento */
}

/* Tarjetas de productos (product-card) */
.product-card {
    min-width: 240px; /* Asegura que las tarjetas tengan una anchura fija */
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

/* Imágenes dentro de las tarjetas */
.product-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.product-card:hover .product-image {
    transform: scale(1.05);
}

/* Información del producto */
.product-info h5 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.product-stock-status {
    color: #666;
    margin-bottom: 15px;
}

/* Botones */
.btn-add-to-cart {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-add-to-cart:hover {
    background-color: #0056b3;
}




/* SOBRE NOSOTROS  */

.conteiner-sobrenosotros {
    display: flex;
    width: 97%;
    position: relative;
    justify-content: center;
    text-align: center;
    background: #000000;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;   
    margin-bottom: -10px; 
}

.sobrenosotros h3{
    display: flex;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    font-size: 115px;
    width: 100%;
    height: 60px;
    color: #ffffff;
    

}

.cont_sobrenosotros {
    display: flex;
    width: 97%;
    height: auto;
    padding: 14px;
    justify-content: center;
    background: #000000;
    justify-content: center;
    text-align: center;
    margin: auto;

}

.img__somos {
    width: 375px;
    height: 460px;
    border-radius: 50%;
    display: flex;
    padding: 12px;
    margin-top: 5px;
    margin-right: 80px;
    
}

.nosotros__p1  {
    display: flex;
    width: 750px;
    color: #ffffff;
    font-size: 20px;
    text-align: justify;
    font-family: 'Oswald', sans-serif;
    padding: 15px;
    margin-top: 25px;

}


/* FORMULARIO - EMAIL  */

.conteiner-formulario{
    width: 97%;
    display: flex;
    border-radius: 15px;
    margin: auto;
}

.conteinerform {
    width: 100%;
    height: 100%;
    background: #000000;
    box-sizing: border-box;
}

form {
    width: 440px;
    height: 530px;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    font-family: "AdihausDIN",Helvetica,Arial,sans-serif;
    margin: auto;
    
}

h4 {
    color: #ffffff;
    text-align: center;
    margin: 0px;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "AdihausDIN",Helvetica,Arial,sans-serif;
    padding: 5px;

}

input, .textarea1 {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    border-radius: 10px;
}

.textarea1 {
    min-height: 200px;
    max-height: 50px;
    max-width: 100%;
}

#boton:hover{
    background: #ab70ce;
    cursor: pointer;


}



/* FOOTER */

.footer {
    width: 97%;
    display: flex;
    font-family: "AdihausDIN-CnBoldItalic","AdihausDIN Cn",Helvetica, Arial, sans-serif;
    text-decoration: none;
    background: #a30dfa;
    justify-content:space-between;
    position: relative;
    margin: auto;
    background-image: linear-gradient(#000000, #a30dfa);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.conteiner-footer{
    width: 190px;
    height: 200px;
    display: inline;
    margin-top: 45px;  
    padding: 15px;  
}

.conteiner-titulo-footer{
    width: 150px;
    height: 35px;
    color: #ffffff;
    font-size: 23px;
    font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
    text-decoration: underline;
}

.conteiner-titulo-footer:hover{
    color: #f3ff05;
    cursor: pointer;
    text-decoration: underline;
}

.listafooter {
    display: grid;
   width: 150px;
}

.listafooter a{
    font-size: 16px;
    color: #fafafa;
    display: inline;
    font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
    text-decoration: none;
    -webkit-text-stroke: 0.2px #ffffff;
}

.listafooter a:hover{
    color: #f3ff05;
    text-decoration: underline;
    font-weight: 500;
}


.iconos {
    height: 100px;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    
}

.conteiner-icono-nav{
    width: 50px;
    height: 30px;
    
}

.iconos a img {
    align-items: center;
    margin: 5px;
}

.section {
    display: flex;
    
}

.footer-section {
    display: inline;
    position: relative;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.footer-titulo {
    justify-content: center;
    margin: auto;
}

.footer-titulo h3{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 5px;
    letter-spacing: -1;
}

.footer-section iframe {
    width: 100%;
    max-width: 300px;
    height: 200px;
    border: 0;
    justify-items: left;
}

.ubicacion {
    display: flex;
    width: 400px;
    height: 150px;
    color: #f0f0f0;
    background: #747474;
    
}

.ubicacion img {
    width: 16px;
    height: 16px;
}

.ubicaion img p {
    font-size: 13px;
    color: #ffffff;
}

.conteiner-desarrollador{
    width: 97%;
    height: auto;
    justify-content: center;
    display: flex;
    background: #a30dfa;
    text-decoration: none;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nericarrera a {
    font-size: 15px;
    color: #000000;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
    
}

.nericarrera a:hover{
    color: #bbbbbb;
}


@media only screen and (max-width: 600px){

}   

.nav__ul {
     display: none;

}

.nav__responsive-ul {
        display: block;
        position: absolute;
        width: 100%;
        background-color: #FF5331;

}



