* {
  margin-top: 0;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*--------------HEADER--------------- */
.header {
  background: #000000;
  text-align: inline-block;
  height: 40px;
  width: 100%;
}

.header__inicio-env {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 2px;
  margin: auto;
}

.header__inicio-env p {
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  color: #a30dfa;
}

.header__inicio-env p:hover {
  display: flex;
  color: #ffffff;
  cursor: pointer;
}

/*-------- NAV--- * ---LOGO-- *--- BUSCADOR --*-- IMPUT---  */

.logo {
  display: flex;
  width: 130px;
  height: auto;
  text-align: center;
  justify-content: center;
  padding: 5px;
  margin: auto;
  justify-content: flex-start;
}

.logo .a {
  display: flex;
  width: auto;
  height: auto;
  position: relative;
  margin: auto;
}

.logo .a .logo1 {
  display: flex;
  width: 40%;
  border-radius: 5px;
}

.nav {
  width: 100%; /* Asegúrate de que ocupe todo el ancho */
  max-width: none; /* Elimina cualquier límite de ancho */
  overflow: visible; /* Permite que el submenú se expanda */
  border-bottom: 1px solid #e1e1e1; /* Línea inferior */
}

.conteiner-buscador-carrito {
  display: flex;
  margin: auto;
  margin-top: 40px;
  width: auto;
  position: relative;
}

.buscador {
  display: flex;
  justify-content: end;
  text-align: center;
  height: auto;
}

.buscador input {
  display: flex;
  justify-content: center;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-style: normal;
  align-content: center;
  align-items: center;
  width: 140px;
  height: 29px;
  background: #ffffff;
  border: 1px solid #1a1a1a;
  margin: auto;
  margin-right: -25px;
  margin-left: 20px;
}

#serch-icon {
  width: 20px;
  display: flex;
  margin: auto;
  margin-top: 5px;
}

/*----------CARRITO------------------*/
/*----------------CARRITO ITEM--------------*/

.cart-item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.cart-item-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: auto;
  z-index: 1100 !important; /* Más alto que el menú modal */
}

#cart-icon {
  width: 20px;
  margin-top: 5px;
}

#cart-count {
  position: absolute;
  top: -13px;
  right: -11px;
  background-color: #a30dfa;
  color: white;
  padding: 7px;
  border-radius: 100%;
  font-size: 8px;
  width: 18px;
  margin: auto;
}

#cart-count:hover {
  background-color: #f3ff05;
  transition: all 500ms ease;
  color: #000000;
}

/* Estilos para el dropdown del carrito */
#cart-dropdown {
  position: fixed;
  top: 114px !important; /* Ajusta según tu header */
  right: 75px !important;
  width: 320px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1101 !important;
  max-height: 70vh;
  overflow-y: auto;
  display: none; /* Oculto por defecto */
}

#cart-dropdown.cart-dropdown-hidden {
  display: none;
}

#cart-dropdown:not(.cart-dropdown-hidden) {
  display: block;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.titulo-carrito {
  color: #ffffff;
  font-size: 25px;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-style: initial;
  padding: 5px;
  text-align: center;
  background: #000;
}

.cart-dropdown .cart-summary {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.item-list-cart {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

#cart-items-list {
  position: relative;
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.cart-summary p {
  width: auto;
  color: #000000;
  margin-bottom: 10px;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  padding: 2px;
}

#cart-total {
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  font-size: 800;
}

.cart-summary button {
  font-family: "Inter", sans-serif;
  background-color: #360353;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-summary button:hover {
  background-color: #8b06d1;
}

.cart-close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  z-index: 10;
}

.cart-close-btn:hover {
  color: #e74c3c;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.cart-item-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-details p {
  margin: 0;
  font-size: 14px;
}

#empty-cart-message {
  font-size: 1.2em;
  color: #ff0000;
  text-align: center;
  margin-top: 20px;
}

.cart-item-modal {
  display: flex;
}

.cart-item-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details p {
  margin: 0;
  font-size: 14px;
}

.btn-remove-modal {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 0px 3px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.btn-remove-from-cart {
  background-color: transparent;
  color: #ff0000;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-remove-from-cart:hover {
  color: #cc0000;
}

/*-------------------------CARRITO PAGINA DEL CARRITO---------------*/

/* Estilos generales para la página del carrito */
.cart-page-container {
  display: flex;
  justify-content: space-between;
  max-width: 75%;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

.cart-page-colum1 {
  padding: 5px;
  width: 64%;
}

.cart-page-colum2 {
  padding: 5px;
  width: 38%;
}

.cart-page-title {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
  font-family: "Questrial", sans-serif;
  font-weight: 600;
}

.cart-page-descripcion {
  display: flex;
  margin-bottom: 20px;
}

.cart-page-descripcion p {
  letter-spacing: 1px;
  font-size: 16px;
  color: #555;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

.cart-content {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

/* Estilos para la lista de productos */
.cart-items {
  flex: 2;
}

.cart-item {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.cart-item img {
  width: 220px;
  height: 226px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-item-modal img {
  width: 155px;
  height: 149px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-item-details1 {
  flex: 1;
  font-family: "Dosis" sans-serif;
  text-align: left;
  padding: 4px;
}

.cart-item-details {
  flex: 1;
  font-family: "DM Sans";
  text-align: left;
  padding: 4px;
}

.cart-content p {
  font-family: "Dosis", sans-serif;
  font-size: 23px;
  color: #000;
}

.cart-item-name1 {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #555;
}

.cart-item-details p strong {
  color: #333;
}

.cart-item-actions {
  display: flex;
  gap: 10px;
}

.cart-item-actions button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
}

.cart-item-actions button:hover {
  background-color: #cc0000;
}

/* Estilos para el resumen del pedido */

.cart-summary h2 {
  font-size: 25px;
  margin-bottom: 15px;
  color: #333;
  font-family: "Questrial", sans-serif;
  font-weight: 800;
}

.summary-details p {
  font-family: "Questrial", sans-serif;
  margin: 10px 0;
  font-size: 17px;
  color: #555;
  font-weight: 500;
}

.summary-details p span {
  float: right;
  color: #333;
  font-weight: bold;
}

#checkout-btn {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

#checkout-btn:hover {
  background-color: #0056b3;
}

.checkout-btn-pago {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

#checkout-btn:hover {
  background-color: #0056b3;
}

.cart-page-marketing {
  display: block;
  margin-top: 20px;
  background: #360353;
  border: 1px solid #000000;
}

.cart-marketin-1 {
  letter-spacing: 1px;
  padding: 10px;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  color: #ffffff;
}
.cart-marketin-2 {
  letter-spacing: 1px;
  padding: 10px;
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .cart-content {
    flex-direction: column;
  }

  .cart-summary {
    order: -1; /* Mover el resumen arriba en móviles */
  }
}

/*------------------ICONO USUARIO---------------*/

.user-icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: auto;
}

#user-icon {
  width: 20px;
  margin-left: 25px;
  height: 21px;
  margin-top: 2px;
}
/*------------- MENÚ Y SUBMENÚ ---------------*/

.menu {
  display: flex;
  max-width: none; /* Elimina cualquier límite de ancho */
  overflow: visible; /* Permite que el submenú se expanda */
  padding: 10px; /* Espaciado interno */
  margin-top: 30px;
}

.menu-ul {
  list-style-type: none; /* Elimina los puntos de la lista */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around; /* Distribuye los elementos del menú */
}

.menu-li {
  position: relative; /* Necesario para posicionar el modal */
}

.menu-li .menu-li-a {
  color: #0a0a0a; /* Color del texto */
  text-decoration: none; /* Sin subrayado */
  font-weight: 500; /* Texto en negrita */
  font-size: 16px; /* Tamaño de fuente */
  padding: 10px 20px; /* Espaciado interno */
  display: block;
}

.menu-li .menu-li-a:hover {
  text-decoration: underline; /* Subrayado al hacer hover */
  color: #d3e005; /* Color del texto al hacer hover */
  transition: all 300ms ease; /* Transición suave */
}

/*-------------- Estilo para el modal ----------------*/

.modal {
  position: fixed;
  top: 15.9%;
  z-index: 1000;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #ccc;
}

.modal-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 33%;
  max-width: 1200px; /* O el ancho máximo que prefieras */
  margin: 0 auto;
  padding: 20px;
  border-right: 1px solid #bbbbbb;
}

.modal-mujer-seccion-content,
.modal-hombre-seccion-content,
.modal-niños-seccion-content,
.modal-accesorios-seccion-content,
.modal-bravas-seccion-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 7px;
  padding: 20px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  max-height: none; /* Eliminamos la altura máxima */
  overflow-y: visible; /* Quitamos el scroll interno */
}

.modal-mujer-seccion,
.modal-hombre-seccion,
.modal-niños-seccion,
.modal-accesorios-seccion,
.modal-bravas-seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition: transform 0.3s ease;
}

.modal-mujer-seccion img,
.modal-hombre-seccion img,
.modal-niños-seccion img,
.modal-accesorios-seccion img,
.modal-bravas-seccion img {
  width: 155px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #eee;
  cursor: pointer;
}

.modal-mujer-seccion img:hover,
.modal-hombre-seccion img:hover,
.modal-niños-seccion img:hover,
.modal-accesorios-seccion img:hover,
.modal-bravas-seccion img:hover {
  transition: all 420ms ease; /* Transición suave */
  border: 1px solid #000;
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-mujer-seccion a,
.modal-hombre-seccion a,
.modal-niños-seccion a,
.modal-accesorios-seccion a,
.modal-bravas-seccion a {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.modal-mujer-seccion a:hover,
.modal-hombre-seccion a:hover,
.modal-niños-seccion a:hover,
.modal-accesorios-seccion a:hover,
.modal-bravas-seccion a:hover {
  color: #d3e005; /* Color del texto al hacer hover */
}

.link-bravas {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.link-bravas:hover {
  color: #d3e005;
  transition: all 520ms ease;
}

.modal-content h2 {
  font-family: "Dosis", sans-serif; /* Fuente para el título */
  font-size: 24px; /* Tamaño de fuente del título */
  margin-bottom: 10px; /* Espacio debajo del título */
  color: #ffffff; /* Color del título */
  text-align: center; /* Centra el título */
  font-weight: 600; /* Peso de la fuente */
  text-transform: uppercase; /* Texto en mayúsculas */
  background: #000;
  border-radius: 15px;
}

.modal-content h2:hover {
  background: #360353;
  color: #d3e005;
  transition: all 510ms ease; /* Transición suave */
  cursor: pointer;
}

.modal-content p {
  font-family: "Dosis", sans-serif; /* Fuente para el texto */
  font-size: 20px; /* Tamaño de fuente del texto */
  color: #000000; /* Color del texto */
  text-align: center; /* Centra el texto */
  margin-bottom: 20px; /* Espacio debajo del texto */
}

.modal-content p:hover {
  background: #360353;
  color: #d3e005;
  transition: all 510ms ease; /* Transición suave */
  cursor: pointer;
}

.modal-content video {
  width: 100%;
  max-height: 400px; /* Altura máxima para el video */
  object-fit: contain;
  margin-bottom: 20px;
}

/* Mostrar modal al hacer hover */
.menu-li:hover .modal {
  display: flex; /* Muestra el modal al hacer hover */
}

/*----------------------- Responsive -------------------*/
@media (max-width: 768px) {
  .menu-ul {
    flex-direction: column; /* Cambia a disposición vertical en móviles */
    align-items: center; /* Centra los elementos */
  }

  /* Para pantallas grandes (4 columnas) */
  @media (min-width: 1200px) {
    .modal-mujer-seccion-content,
    .modal-hombre-seccion-content,
    .modal-niños-seccion-content,
    .modal-accesorios-seccion-content,
    .modal-bravas-seccion-content {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  /* Para tablets (3 columnas) */
  @media (max-width: 1199px) and (min-width: 768px) {
    .modal-mujer-seccion-content,
    .modal-hombre-seccion-content,
    .modal-niños-seccion-content,
    .modal-accesorios-seccion-content,
    .modal-bravas-seccion-content {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  /* Para móviles (2 columnas) */
  @media (max-width: 767px) {
    .modal-mujer-seccion-content,
    .modal-hombre-seccion-content,
    .modal-niños-seccion-content,
    .modal-accesorios-seccion-content,
    .modal-bravas-seccion-content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
/*----------------SUB BANNER- CAMPAÑA CUOTAS-----------------*/

.sub-banner0 {
  width: 100%;
}

.sub-banner0 img {
  width: 100%;
}

/*----------------------BANNER PORTADA------------------*/

.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.banner-track {
  display: flex;
  transition: transform 0.5s ease;
}

.banner-conteiner-titulo0 {
  display: flex;
  width: 30%;
  height: 48%;
  position: absolute;
  padding: 10px;
  margin: 15px;
  border-radius: 57px;
  text-align: center;
  -webkit-text-stroke: 1px #cddc398a;
  z-index: 1;
}

.banner-titulo0 {
  position: absolute;
  font-family: "Dosis", sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #673ab7;
  animation: slide-fade 10s infinite;
  animation: changeImage 10s infinite;
  opacity: 0.7;
}

.banner-titulo0 .banner-titulo0:hover {
  background: #d3e005;
  color: #673ab7;
  transition: all 500ms ease;
  cursor: pointer;
}

.banner-slide {
  min-width: 100%;
  box-sizing: border-box;
}

.banner-slide img,
.banner-slide video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.banner-content {
  width: 165px;
  position: absolute;
  top: 100%;
  left: 84%;
  transform: translate(-13%, -50%);
  text-align: center;
  color: white;
  backdrop-filter: blur(5px);
  font-family: "Dosis", sans-serif;
}

/*---------------- Contenido del banner------------------- */

.banner h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Dosis", sans-serif;
  color: #ffffff;
}

.banner p {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Dosis", sans-serif;
}

/* Responsividad para móviles */
@media (max-width: 768px) {
  .banner {
    display: flex;
    height: auto;
    position: relative; /* Ajusta la altura en pantallas más pequeñas */
  }

  .banner h1 {
    font-size: 32px;
  }

  .banner p {
    font-size: 18px;
  }

  .banner-button {
    font-size: 16px;
  }
}

/*------------ TITULO - MAKE A DIFFERENCE---------------- */

.article__conteiner {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: -50px;
}

.article__p {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 56px;
  font-family: "Dosis", sans-serif;
  color: #d3e005;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background: #000;
  margin: auto;
}

/*-------------------NOVEDADES MUJER CARRUSEL ---------------*/

.carrusel-mujer-novedad-titulo {
  display: flex;
  width: 100%;
  background: #d3e005;
  padding: 5px;
  margin: auto;
}

.novedad-mujer-titulo {
  font-family: "Questrial", serif;
  font-weight: 700;
  font-size: 35px;
  color: #673ab7;
}

.product-card-novedad-mujer {
  text-align: center;
}

/* Contenedor principal del carrusel */
.carrusel-container-mujer {
  display: flex;
  gap: 12px; /* Espacio entre productos */
  overflow-x: auto; /* Habilitar desplazamiento horizontal */
  padding: 28px 10px; /* Espaciado interno */
  scroll-behavior: smooth; /* Desplazamiento suave */
  background: rgb(245, 245, 220);
}

/* Tarjeta individual de producto */
.producto-novedad-mujer {
  flex: 0 0 auto; /* Evitar que las tarjetas se reduzcan */
  width: 250px; /* Ancho fijo para cada tarjeta */
  height: 420px;
  border: 1px solid #ddd; /* Borde delgado */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  transition: transform 0.3s, box-shadow 0.3s; /* Transición para hover */
  cursor: pointer;
  border-radius: 15px;
}

.producto-novedad-mujer:hover {
  transform: translateY(-5px); /* Elevar ligeramente en hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Intensificar sombra */
}

/* Imagen del producto */
.product-image {
  width: 100%;
  height: 270px; /* Alto fijo para uniformidad */
  object-fit: cover; /* Ajustar imagen al contenedor */
  border-radius: 15px;
}

/* Información del producto */
.product-info-carrusel {
  margin: auto;
  display: block;
  width: 235px;
  justify-items: left;
  margin-top: 15px;
}

.product-info-carrusel h3 {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin: 0px 0px 0px;
  margin-top: 10px;
  font-family: "Questrial", sans-serif;
  padding: 1px;
}

.product-info-carrusel h3:hover {
  background: #e3e3e3;
}

.product-info-carrusel p {
  font-family: "Questrial", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #000000;
  margin-bottom: 1px;
  font-weight: 300;
  padding: 1px;
}

.product-info-carrusel p:hover {
  background: #e3e3e3;
  padding: 1px;
}

.product-info .mujer-carrusel-categoria {
  font-size: 13px;
  color: #9b9b9b;
  padding: 1px;
}

/*-------carrusel miniaturas para productos------*/

.product-container-carrusel {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.product-image-carrusel {
  position: relative;
}

.main-product-image {
  width: 250px;
  height: 290px;
  object-fit: cover;
}

.product-thumbnails {
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  gap: 2px;
  margin-top: -3px;
}

.thumbnail-image {
  width: 42px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 7px;
}

.thumbnail-image:hover {
  cursor: pointer;
}

/*--------------------------------------------------*/

/*--------- NOVEDADES HOMBRE CARRUSEL ----------- */
.carrusel-hombre-novedad-titulo {
  display: flex;
  width: 100%;
  position: relative;
  margin: auto;
  background: #d3e005;
  padding: 5px;
}

.novedad-hombre-titulo {
  font-size: 35px;
  font-family: "Questrial", sans-serif;
  color: #673ab7;
  font-weight: 700;
  padding: 5px;
}

.product-card-novedad-hombre {
  text-align: center;
}

/* Contenedor principal del carrusel */
.carrusel-container-hombre {
  display: flex;
  gap: 12px; /* Espacio entre productos */
  overflow-x: auto; /* Habilitar desplazamiento horizontal */
  padding: 28px 10px; /* Espaciado interno */
  scroll-behavior: smooth; /* Desplazamiento suave */
  background: rgb(245, 245, 220);
}

/* Tarjeta individual de producto */
.producto-novedad-hombre {
  flex: 0 0 auto; /* Evitar que las tarjetas se reduzcan */
  width: 250px; /* Ancho fijo para cada tarjeta */
  height: 420px;
  border: 1px solid #ddd; /* Borde delgado */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  transition: transform 0.3s, box-shadow 0.3s; /* Transición para hover */
  cursor: pointer;
  border-radius: 15px;
}

.producto-novedad-hombre:hover {
  transform: translateY(-5px); /* Elevar ligeramente en hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Intensificar sombra */
}

/*-------------NOVEDADES HOMBRES---------- */

/*----------- BANNER DESCUENTO------------ */
.conteiner-descuento {
  width: 97%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.conteiner-descuento-descuento {
  width: 355px;
  height: 405;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  margin: auto;
  padding: 20px;
}

.conteiner-descuento-descuento img {
  width: 100%;
  margin: auto;
  display: flex;
  border-radius: 15px;
  box-shadow: 1px 1px 30px 0px #673ab7;
}

.conteiner-descuento-descuento img:hover {
  transform: scale(1.05);
  transition: all 400ms ease;
}

/*--------------- TARJETA DE 3 PARTES--------------- */
.conteiner-tarjetas {
  display: flex;
  flex-wrap: wrap;
  width: 97%;
  height: auto;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 35px;
}

.conteiner-tarjeta-titulo {
  width: 95%;
  height: 100px;
  margin: auto;
  margin-top: 50px;
}

.titulo-conteiner-tarjeta {
  display: inline-block;
  font-size: 50px;
  font-weight: 300;
  font-family: "Questrial", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #d3e005;
  padding: 25px;
  margin-top: 15px;
}

.tarjetas {
  flex-wrap: wrap;
  justify-content: center;
  width: 240px;
  height: 540px;
  margin: 10px;
}

.tarjetas:hover {
  border: 1px solid #673ab7;
  transition: all 400ms ease;
}

.tarjetas video {
  width: 100%;
  height: 380px;
  object-fit: cover;
  text-decoration: none;
}

.tarjetas a {
  text-decoration: none;
}

.tarjeta-conteiner-descripcion {
  width: auto;
  height: auto;
}

.tarjeta-conteiner-descripcion img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.titulo-tarjeta1 {
  font-size: 18px;
  text-decoration: none;
  color: #0a0a0a;
  font-family: "Dosis";
  font-weight: 600;
  letter-spacing: 0.5px;
  height: 50px;
  width: 100%;
  margin-bottom: 8px;
  padding: 1px;
}

.titulo-tarjeta1 a {
  text-decoration: none;
  padding: 1px;
}

.subtitulo-tarjeta1 {
  justify-content: left;
  color: #242424;
  font-size: 15px;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  height: 50px;
  padding: 1px;
}

.subtitulo-tarjeta1 a {
  display: flex;
  text-align: left;
  text-decoration: none;
  padding: 1px;
}

/*---------------- MOTIVATE------------------ */

.motivate {
  display: flex;
  width: 90%;
  height: 180px;
  margin-top: 50px;
  text-align: center;
  align-items: center;
  margin: auto;
  box-shadow: 1px 1px 20px 2px #9b9b9b;
  justify-content: center;
  background: #000000;
  margin-bottom: 40px;
  border-radius: 15px;
}

.motivate_p {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 70px;
  color: #ffffff;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
}

.motivate_p1 {
  display: flex;
  width: 100%;
  height: 30px;
  font-family: "Dosis", sans-serif;
  letter-spacing: 1px;
  font-style: normal;
  justify-content: center;
  font-size: 22px;
  color: #ffffff;
  font-weight: 600;
  padding: 5px;
  margin-top: -13px;
}

/* BANNER LAS BRAVAS */
.conteiner-banner {
  display: flex;
  width: 97%;
  justify-content: center;
  background-image: linear-gradient(#ffffff, #ffff18);
  margin: auto;
}

.conteiner-banner-video {
  width: 836px;
  height: 192px;
  display: flex;
  background: #fffb00e0;
  border-radius: 5px;
  box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
}

.conteiner-banner-video video {
  display: flex;
  height: 100%;
  width: 46%;
  border-top-left-radius: 5px;
}

.conteiner-banner2 {
  height: 230px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.conteiner-banner2 .banner-bravas-p {
  display: flex;
  height: 100px;
  width: 398px;
  font-size: 39px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #e90090;
  margin-top: 16px;
}

.conteiner-banner2 img {
  display: flex;
  width: 20%;
  margin-left: 338px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/* GALERIA FOTOS BRAVAS */

.conteiner-galeria {
  display: flex;
  width: 97%;
  justify-content: center;
  align-items: center;
  background: #ffff18;
  margin: auto;
  flex-wrap: wrap;
  text-align: center;
}

.conteiner-fotos {
  position: relative;
  justify-content: center;
  width: 190px;
  height: 420px;
  border-top: 0.1px solid rgba(0, 0, 0, 0.5);
  border-left: 0.1px solid rgba(0, 0, 0, 0.5);
  border-right: 0.1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.5);
  background: #ffffff;
  margin: 10px;
  margin-top: 65px;
  border-bottom-right-radius: 25px;
}

.conteiner-tarjeta-fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 280px;
  width: 189px;
  border-radius: 10px;
}

.conteiner-tarjeta-fotos img {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.conteiner-tarjeta-info {
  height: 140px;
  width: 189px;
}

.conteiner-tarjeta-info h5 {
  height: 25px;
  color: #000000;
  font-size: 15;
  font-family: "Kanit", sans-serif;
  padding: 10px;
}

.conteiner-tarjeta-info p {
  height: 30px;
  color: #000000;
  font-size: 20;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

.conteiner-bravas {
  width: 97%;
  height: 80px;
  margin: auto;
  position: relative;
  background: #ffff18;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.conteiner-bravas-titulo {
  display: flex;
  position: relative;
  color: #000000;
  justify-content: center;
  align-items: center;
  width: auto;
}

.conteiner-bravas-titulo a {
  text-decoration: none;
}

.conteiner-bravas-titulo p {
  width: auto;
  height: auto;
  padding: 5px 8px;
  background: #000000;
  color: #ffffff;
  font-family: "Dosis", sans-serif;
  font-size: 19px;
  font-weight: 600;
  border-radius: 10px;
}

.conteiner-bravas-titulo p:hover {
  transition: all 450ms ease;
  cursor: pointer;
  background: #e90090;
  border: 1px solid #000000;
  -webkit-text-stroke: 0.7px #000000;
}

/*---------------- SOBRE NOSOTROS ------------------ */

.conteiner-sobrenosotros {
  display: flex;
  width: 97%;
  position: relative;
  justify-content: center;
  text-align: center;
  margin: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.sobrenosotros h3 {
  display: flex;
  font-weight: 300;
  font-family: "Oswald", sans-serif;
  font-size: 115px;
  width: 100%;
  color: #d3e005;
  -webkit-text-stroke: 1px #000000;
}

.cont_sobrenosotros {
  display: flex;
  width: 97%;
  height: auto;
  padding: 14px;
  justify-content: center;
  background: #360353;
  justify-content: center;
  text-align: center;
  margin: auto;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.img__somos {
  width: 375px;
  height: 460px;
  border-radius: 50%;
  display: flex;
  padding: 12px;
  margin-top: 5px;
  margin-right: 80px;
}

.nosotros__p1 {
  display: flex;
  width: 750px;
  color: #ffffff;
  font-size: 20px;
  text-align: justify;
  font-family: "Oswald", sans-serif;
  padding: 15px;
  margin-top: 25px;
}

/*--------------------REGISTRO-------------------*/

.registro-conteiner {
  display: flex;
  width: 97%;
  height: 115px;
  justify-content: center;
  margin: auto;
  background: #d3e005;
}

.registro {
  display: flex;
  justify-content: center;
}

.registro h3 {
  display: flex;
  font-weight: 900;
  font-family: "Dosis", sans-serif;
  font-size: 35px;
  width: 70%;
  color: #000000;
  margin: auto;
}

.registro p {
  display: flex;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  width: 100%;
  color: #000000;
  margin: auto;
}

.registro a {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  margin: auto;
  padding: 5px;
}

.registro button {
  width: 200px;
  height: 50px;
  background: #fff;
  color: #000000;
  font-size: 20px;
  font-family: "Dosis", sans-serif;
  font-weight: 900;
  border-radius: 10px;
  justify-content: center;
}

.registro button:hover {
  background: #000;
  color: #fff;
  transition: all 500ms ease;
  cursor: pointer;
}

/* FOOTER */

.footer {
  width: 97%;
  display: flex;
  font-family: "AdihausDIN-CnBoldItalic", "AdihausDIN Cn", Helvetica, Arial,
    sans-serif;
  text-decoration: none;
  background: #a30dfa;
  justify-content: space-between;
  position: relative;
  margin: auto;
  background-image: linear-gradient(#000000, #a30dfa);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.conteiner-footer {
  width: 190px;
  height: 200px;
  display: inline;
  margin-top: 45px;
  padding: 15px;
}

.conteiner-titulo-footer {
  width: 150px;
  height: 35px;
  color: #ffffff;
  font-size: 23px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
}

.conteiner-titulo-footer:hover {
  color: #f3ff05;
  cursor: pointer;
  text-decoration: underline;
}

.listafooter {
  display: grid;
  width: 150px;
  gap: 7px;
}

.listafooter a {
  font-size: 15px;
  color: #fafafa;
  display: inline;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.listafooter a:hover {
  color: #f3ff05;
  text-decoration: underline;
  font-weight: 500;
}

.iconos {
  height: 100px;
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
}

.conteiner-icono-nav {
  width: 50px;
  height: 30px;
}

.iconos a img {
  align-items: center;
  margin: 5px;
}

.section {
  display: flex;
}

.footer-section {
  display: inline;
  position: relative;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.footer-titulo {
  justify-content: center;
  margin: auto;
}

.footer-titulo h3 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  margin-bottom: 5px;
  letter-spacing: -1;
}

.footer-section iframe {
  width: 100%;
  max-width: 300px;
  height: 200px;
  border: 0;
  justify-items: left;
}

.ubicacion {
  display: flex;
  width: 400px;
  height: 150px;
  color: #f0f0f0;
  background: #747474;
}

.ubicacion img {
  width: 16px;
  height: 16px;
}

.ubicaion img p {
  font-size: 13px;
  color: #ffffff;
}

/*----------------------- DESARROLLADOR --------------------*/
.conteiner-desarrollador {
  width: 97%;
  height: auto;
  justify-content: center;
  display: flex;
  background: #1c1c1c;
  text-decoration: none;
  margin: auto;
}

.nericarrera a {
  font-size: 15px;
  color: #673ab7;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nericarrera a:hover {
  color: #bbbbbb;
}

@media only screen and (max-width: 600px) {
}

.nav__ul {
  display: none;
}

.nav__responsive-ul {
  display: block;
  position: absolute;
  width: 100%;
  background-color: #ff5331;
}

/* Estilos para la página del carrito */
.cart-page-title-text {
  font-size: 2em;
  color: #333;
  font-family: "Questrial", sans-serif;
  font-weight: 600;
}

.cart-page-description-text {
  font-size: 1.2em;
  color: #555;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

.cart-page-summary-title {
  font-size: 1.5em;
  color: #333;
  font-family: "Questrial", sans-serif;
  font-weight: 800;
}

.cart-page-checkout-btn {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.cart-page-checkout-btn:hover {
  background-color: #0056b3;
}

/* Estilos para el modal del carrito */
.cart-modal-title {
  font-size: 1.2em;
  color: #000;
  font-family: "Dosis", sans-serif;
  font-weight: 800;
}

.cart-modal-checkout-btn {
  background-color: #a30dfa;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-modal-checkout-btn:hover {
  background-color: #8b06d1;
}

.cart-modal-view-cart-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-modal-view-cart-btn:hover {
  background-color: #0056b3;
}
